{% extends 'layout.html' %}

{% block body %}


<header>
  <img src="static/images/home-images/home_image.jpg" class="headerImage" alt="Header Image">
  <h1 class="title">Welcome to my online store!</h1>
  <hr class="rule" />
  <br>
</header>

<div class="split left" align="center">
  <h1>Mens<h1>
      <a href="mens"><img src="static/images/home-images/home-mens.jpg" alt="Mens Section"></a>
</div>

<div class="split right" align="center">
  <h1>Womens<h1>
      <a href="womens"><img src="static/images/home-images/home-women.jpg" alt="Womens Section"></a>
</div>
{% endblock %}