<nav>
  <input type="text" style="padding: 15px;" name="user_search" size="50" maxlength="20" placeholder="Search..." />
  <button type="submit" class="button3">Search</button>
  <ul>
    {% if session.logged_in %}
    <li><a href="/home">Home</a></li>
    <li><a href="/mens">Men</a></li>
    <li><a href="/womens">Women</a></li>
    <li><a href="/logout">Log Out</a></li>
    <li><a href="/review">Review</a></li>
    <li><a href="/basket">Basket</a></li>
    {% else %}
    <li><a href="/home">Home</a></li>
    <li><a href="/mens">Men</a></li>
    <li><a href="/womens">Women</a></li>
    <li><a href="/sign_in_page">Sign In</a></li>
    {% endif %}
  </ul>
  <div style="clear: both"></div>
</nav>